.gem {
	height: 25%;
	width: 25%;
	min-height: 50px;
	max-height: 150px;
	min-width: 50px;
	max-width: 150px;

}

.gemcontainer {
	padding-bottom: 20px;
	max-height: 200px;
	max-width: 75%;
}

.titlebox {
	
	background-color: orange;
	height: 60px;
	margin-top: 10px;

}

.titlebox h1 {
	text-align: center;

}

.instructions {
	background-color: teal;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	line-height: 15px;
}
.instructions p {
	font-size: small;
	font-weight: bold;
}

.statbox {
	padding-bottom: 20px;
}